<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=
    <div>
      <form action="" method="get">
        <input type="button" value="MaxPrice" />
        <nav style="display: inline">
          <ul>
            <li><span>Property type</span></li>
            <li>Min Price</li>
            <li>Max price</li>
            <li>Bedrooms</li>
            <li>Bathroom</li>
            <hr />
            <h5>Parking/Garage</h5>
            <li>spaces</li>
            <li>Type</li>
            <hr />
            <h5>Size</h5>
            <hr />
            <li>Min size</li>
            <li>Max size</li>
          </ul>
        </nav>
        <hr />
        <h5>Features</h5>
        <hr />
        <!-- check_box -->
        <!-- Pet friendly
          Garden
          Pool
          Roof_top -->
      </form>
    </div>
    , initial-scale=1.0">
    <title>Document</title>
  </head>
  <body></body>
</html>
